:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f29e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}
/* box start  */
.d-block {
  display: block;
}
.d-flex {
  display: flex;
}
.f-wrap {
  flex-wrap: wrap;
}
.align-center {
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
.d-grid {
  display: grid;
}
.gap-20 {
  gap: 20px;
}
.h-full {
  height: 100%;
}
.w-full {
  width: 100%;
}
.w-fit {
  width: fit-content;
}
.b-none {
  border: none;
}
.border-ccc {
  border: 1px solid #ccc;
}
/* box end */
/* padding and margin start  */
.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}
.pt-15 {
  padding-top: 15px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pb-15 {
  padding-bottom: 15px;
}
.pl-15 {
  padding-left: 15px;
}
.p-20 {
  padding: 20px;
}
.pt-20 {
  padding-top: 20px;
}
.pb-20 {
  padding-bottom: 20px;
}
.mt-0 {
  margin-top: 0;
}
.mr-10 {
  margin-right: 10px;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.m-20 {
  margin: 20px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.mr-15 {
  margin-right: 15px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-25 {
  margin-top: 25px;
}
.mb-20 {
  margin-bottom: 20px;
}
/* padding and margin end  */
/* border start  */
.rad-6 {
  border-radius: 6px;
}
.rad-10 {
  border-radius: 10px;
}
.rad-half {
  border-radius: 50%;
}
/* border end  */
/* colors start  */
.bg-white {
  background-color: white;
}
.bg-eee {
  background-color: #eee;
}
.bg-blue {
  background-color: var(--blue-color);
}
.bg-green {
  background-color: var(--green-color);
}
.bg-red {
  background-color: var(--red-color);
}
.bg-orange {
  background-color: var(--orange-color);
}
.c-black {
  color: black;
}
.c-grey {
  color: var(--grey-color);
}
.c-white {
  color: white;
}
.c-orange {
  color: var(--orange-color);
}
.c-blue {
  color: var(--blue-color);
}
.c-green {
  color: var(--green-color);
}
.c-red {
  color: var(--red-color);
}
/* colors end */
/* fonts start  */
.txt-c {
  text-align: center;
}
.fs-13 {
  font-size: 13px;
}
.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-size: 15px;
}
.fw-bold {
  font-weight: bold;
}
/* fonts end  */
/* position start  */
.p-relative {
  position: relative;
}
/* position end */
/* components start  */
.between-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.f-wrap {
  flex-wrap: wrap;
}
.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-shape {
  padding: 4px 10px;
  border-radius: 6px;
}
/* components end  */
/* small screens  */
@media (max-width: 767px) {
  /* box start  */
  .block-mobile {
    display: block;
  }
  .hide-mobile {
    display: none;
  }
  /* box end */
  /* start font */
  .txt-c-mobile {
    text-align: center;
  }
  /* end font */
}
