:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f29e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}
/* box start  */
.d-block {
  display: block;
}
.d-flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
.d-grid {
  display: grid;
}
.gap-20 {
  gap: 20px;
}
.w-full {
  width: 100%;
}
.w-fit {
  width: fit-content;
}
.b-none {
  border: none;
}
/* box end */
/* padding and margin start  */
.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}
.p-20 {
  padding: 20px;
}
.m-20 {
  margin: 20px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}
/* padding and margin end  */
/* border start  */
.rad-6 {
  border-radius: 6px;
}
.rad-10 {
  border-radius: 10px;
}
/* border end  */
/* colors start  */
.bg-white {
  background-color: white;
}
.bg-eee {
  background-color: #eee;
}
.bg-blue {
  background-color: var(--blue-color);
}
.c-black {
  color: black;
}
.c-grey {
  color: var(--grey-color);
}
.c-white {
  color: white;
}
/* colors end */
/* fonts start  */
.txt-c {
  text-align: center;
}
.fs-14 {
  font-size: 14px;
}
.fw-bold {
  font-weight: bold;
}
/* fonts end  */
/* position start  */
.p-relative {
  position: relative;
}
/* position end */
/* components start  */
.between-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-shape {
  padding: 4px 10px;
  border-radius: 6px;
}
/* components end  */
/* small screens  */
@media (max-width: 767px) {
  /* box start  */
  .block-mobile {
    display: block;
  }
  .hide-mobile {
    display: none;
  }
  /* box end */
  /* start font */
  .txt-c-mobile {
    text-align: center;
  }
  /* end font */
}
